<.modal :if={@live_action in [:new, :edit]} id="comment-modal" show on_cancel={JS.patch(~p"/")}>
  <.live_component
    module={TwitCloneWeb.CommentLive.FormComponent}
    id={:new}
    tweet_id={@tweet.id}
    user_id={@user_id}
    action={:new}
    comment={@comment}
    avatar={@avatar}
    hidden={false}
  />
</.modal>
