@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@layer components {
    input {
        --tw-ring-shadow: 0 0 #000 !important;
      }

    input[type="file"] {
      white-space: normal;
      word-wrap: break-word; 
    } 

    textarea {
      resize: none !important;
    } 
}


.click-disabled {
  pointer-events: none;
 }

 .hidden {
  display: none;
 }

